input[type=password]::-ms-reveal,
input[type=password]::-ms-clear{
    display: none;
}

@layer components {
    .card {
        background-color: theme('colors.white');
        border-radius: theme('borderRadius.lg');
        padding-left: theme('spacing.6');
        padding-right: theme('spacing.6');
        padding-bottom: theme('spacing.6');
        padding-top: theme('spacing.8');
        /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
        box-shadow:
            rgba(0, 0, 0, 0.19) 0px 10px 20px,
            rgba(0, 0, 0, 0.23) 0px 6px 6px;
        margin-top: 2rem;
    }

    .menu-bars {
        margin-left: 2rem;
        background: none;
    }

    .quick-menu-text-gradient {
        background-color: #5f5f5f /* #5f5f5f */;
        background-image: linear-gradient(90deg, #000000c1, #ffffff);
        background-size: 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }

    .icon:hover svg path {
        fill: #fff;
    }

    .icon:focus svg path {
        fill: #fff;
    }

    @media screen and (min-width: 768px) {
        .nav-text:hover {
            background-color: theme('colors.blue.300');
        }
    }
}

#root {
    text-align: center;
    background-color: transparent;

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    border-radius: 0.4rem;
    /* Clothoid Gradient */
    background: #000f1a;
}

:root {
    font-family: "Prompt", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

:root::before {
    content: '';
    width: 100%;
    height: 100%;
    background-image: var(--user-image);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: var(--image-opacity);
    transition: background-image 300ms ease;
}

/* This style is REQUIRED due to how kobalte handles focus-visible state */
* {
    @apply outline-none [&[data-focus-visible]]:outline-white;
}

body {
    margin: 0;
    font-family: "Prompt", sans-serif;
    cursor: default;
    background-color: transparent !important;
    width: 100%;
    height: 100vh;
    text-align: center;
    font-size: 14px;
}

.App {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


code{
    border-radius: 4px;
    padding: 3px 6px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #65758529;
    transition: color .25s,background-color .5s;
    color:#a8b1ff;
}