input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
    display: none;
}

#root {
    text-align: center;
    background-color: transparent;
    padding: 40px 24px 24px;
    margin: 0px;
    box-sizing: border-box;
    height: 100vh;
    /* overflow: hidden; */
    border-radius: 0.4rem;
    /* Clothoid Gradient */
    background: #000f1a;
}

:root {
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

:root::before {
    content: '';
    width: 100%;
    height: 100%;
    background-image: var(--user-image);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: var(--image-opacity);
    transition: background-image 300ms ease;
}

/* This style is REQUIRED due to how kobalte handles focus-visible state */
* {
    outline: none;
}

*:focus-visible {
    outline: 0px;
}

body {
    margin: 0;
    font-family: 'Prompt', sans-serif;
    cursor: default;
    background-color: transparent !important;
    width: 100%;
    height: 100vh;
    text-align: center;
    font-size: 14px;
}

.App {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.code {
    border-radius: 4px;
    padding: 3px 6px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #65758529;
    transition:
        color 0.25s,
        background-color 0.5s;
    color: #a8b1ff;
}
