::-webkit-scrollbar {
  width: 0px;
}


.scrollbar::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  margin-left:2px;
  background:  #9092FF;
  border-radius: 12px;
}  