::-webkit-scrollbar {
    width: 0px;
}

.scrollbar::-webkit-scrollbar {
    width: 4px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
    margin-left: 2px;
    background: #9092ff;
    border-radius: 12px;
}

.scrollbar::-webkit-scrollbar {
    width: 6px;
}

.scrollbarX::-webkit-scrollbar {
    width: 1px;
    height: 4px;
}

/* Track */
.scrollbarX::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
.scrollbarX::-webkit-scrollbar-thumb {
    background: #9092ff;
    border-radius: 12px;
}

.scrollbarX::-webkit-scrollbar {
    width: 1px;
    height: 4px;
}
